# Not required for deployed environment
DYNAMODB_ENDPOINT_URL=http://localhost:4566

# QUICK API (Basic auth credentials)
QUICK_API_BASE=https://qr1.devmarket.myquick.net/home/member/wam_mxlgn/common/docs/api/
QUICK_API_USER=
QUICK_API_PASS=
